---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header/>
		<main>
			<h1>Wellcome!</h1>
			<p>
				しょーなんのページへようこそ！
			</p>
			<div class="button001">
			<a href="/audio" style="text-decoration: none;">駅放送はこちら</a>
			<img src="/images/marunouchi.jpg" alt="説明文" />
			</div>
			<p>
			<h2>最新のブログ投稿</h2>
		</main>
		<Footer />
	</body>
</html>
